---
component: Banners
analytics:
  pageCategory: component
  component: banner
design: https://design.atlassian.com/latest/product/components/messages/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-banner
  amd: aui/banner
  experimentalSince: 5.7
  generalSince: 6.0
---

<h2>Summary</h2>

<p>Banners appear at the very top of the screen, within the application header, and are reserved for system-level
    messaging about loss of data or functionality.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<!-- Example is in an iframe to ensure the banner is displayed within the "Examples" box -->
<iframe src="{{rootPath}}docs/banner-example-iframe.html" title="Banner Example" style="width: 100%;" frameBorder="0"></iframe>

<h2>Code</h2>

<p>A banner can be created either through Application Header soy template or the Javascript API.</p>

<h3>Soy</h3>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.page.header}
        {param logo: 'confluence' /}
        {param bannerContent}
            Your license has expired. <a href="#">Click here to renew</a>.
        {/param}
        {param primaryContent}
            <div class="aui-nav">
                <li><a href="https://example.com/">Navigation item or dropdown trigger</a></li>
            </div>
        {/param}
            {param secondaryContent}
            <div class="aui-nav">
                <li><a href="https://example.com/">Often an icon-only dropdown</a></li>
            </div>
        {/param}
    {/call}
</noscript>

<h3>Javascript</h3>


<p>The Javascript API is intended for use when HTTP 5xx errors are received from the server.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <header id="header" role="banner"></header>
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        require(['aui/banner'], function (banner) {
            banner({
                body: 'Your <strong>license has expired!</strong> There are two days left to <a href="#">renew your license</a>.'
            });
        });
    </noscript>
</aui-docs-example>

<h2>Options</h2>
<h3>JavaScript options</h3>

<p>These options are set in the options object when creating a flag with JavaScript:</p>
<table class="aui">
    <thead>
    <tr>
        <th>Option</th>
        <th>Description</th>
        <th>Possible values</th>
        <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>body</code></td>
        <td>The main content of the message.</td>
        <td>HTML</td>
        <td>none</td>
    </tr>
    </tbody>
</table>
