---
component: Browser focus
analytics:
  pageCategory: component
  component: browser-focus
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-browser-focus
  generalSince: 9.3
---

<h2>Summary</h2>
<p>
    AUI components ship with these styles, but including these rules will make all elements on the page (non-AUI
    components) have the same focus ring styles as AUI components.
</p>
<p>
    If the browser supports it, these rules will also make use of <a
       href="https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible">:focus-visible</a>
    to hide the focus rings when they are not needed, e.g: when clicking a button instead of focusing it with the
    keyboard.
</p>

<h2>Status</h2>
{{> status }}

<h2>How to use it</h2>
You have two options to use these rules:

<h3>Include browser focus resources</h3>
For P2 usage, include <b>com.atlassian.auiplugin:aui-browser-focus</b> web resource. Then use the `.aui-browser-focus` CSS class on a container.

<h3>Include CSS styles</h3>
If you prefer, you can instead import <b>aui-prototyping-browserfocus.css</b> when using the NPM package. Then use the `.aui-browser-focus` CSS class on a container.

<h2>The :focus-visible pseudo-class</h2>
<p>
    The <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible">:focus-visible</a> pseudo-class
    applies while
    an element matches the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:focus">:focus</a> pseudo-class and
    the
    UA (User Agent) determines via heuristics that the focus should be made evident on the element. This selector is
    useful to
    provide a different focus indicator based on the user’s input modality (mouse vs. keyboard).
</p>
<p>
    Check out <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible#examples">these examples</a> for
    more details
</p>

<h2>Known issues</h2>
<p>
    If you are using AUI and another framework (like Bootstrap or Atlaskit) on the same page, including these styles
    can cause a double ring or a very thick ring to appear on input fields or buttons. An example of such an issue is:
    <a href="https://ecosystem.atlassian.net/browse/AUI-5325">AUI-5325</a>.
</p>
<p>
    In this case, is better not to include these rules and handle the styles mismatch manually instead.
</p>
