---
component: Icons
analytics:
  pageCategory: component
  component: icon
design: https://design.atlassian.com/latest/product/foundations/iconography/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-icon, com.atlassian.auiplugin:aui-iconography
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
---

<h2>Summary</h2>
<p>Icons are visual artifacts to communicate, guide and inform the user. They can help users find their way through an
    interface, make the meaning of buttons clearer, and prepare users for what is happening next. Icons work at their
    best when they're consistent, familiar and recognizable to the user.
</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.1/clipboard.min.js"></script>
<article class="aui-flatpack-example">
    <div class="aui-group">
        <form class="aui" onsubmit="return false">
            <input id="search-icons" placeholder="Search" autocomplete="off" type="text" class="text">
        </form>
    </div>
    <div class="aui-group">
        <div id="icons-list"><p>Loading icons...</p></div>
    </div>
</article>

<p>You should adjust the alternative text (the text inside the SPAN element) to suit the meaning
    and usability of your scenario. If you are using it in a button which has the button's action as visible text, you
    don't need to duplicate the text inside the icon too. However if you are creating an icon-only control, you should
    include the alternative text.</p>

<h2>Code</h2>
<h3>HTML</h3>
<p>Icons are simply SPAN elements with an image or icon font applied. Text inside the span is hidden and can be used as
    assistive/alternative text.
</p>
<noscript is="aui-docs-code" type="text/html">
    <span class="aui-icon aui-icon-SIZE aui-iconfont-TYPE">Alternative Text</span>
</noscript>

<h3>Soy</h3>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.icons.icon}
        {param useIconFont: true /}
        {param size: 'large' /}
        {param icon: 'configure' /}
    {/call}
</noscript>

<h2>Options</h2>
<p>Vector icon sizes:</p>
<ul>
    <li>small</li>
    <li>large</li>
</ul>

<h3>Simple 'wait' spinner</h3>
<p>You're waiting. The user's waiting. Use the spinner
    <aui-spinner></aui-spinner>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-spinner></aui-spinner>
    </noscript>
</aui-docs-example>
