---
component: REST-ful tables
analytics:
  pageCategory: component
  component: restful-table
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-restfultable
  amd: false
  experimentalSince: 3.7.0
  generalSince: 5.8
---

<h2>Summary</h2>

<p>A table whose entities/rows are retrieved, added and updated via rest (<a
        href="http://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank">CRUD</a>). It uses <a
        href="http://documentcloud.github.io/backbone/" target="_blank">backbone.js</a> to sync the tables state
    back to the server and vice versa, avoiding page refreshes.</p>

<h2>Status</h2>
{{> status }}

<h2>Working example</h2>
<p>An example can be found by running the AUI refapp, and navigating to the restfultable test page</p>

<h2>Code</h2>
<p>Below is an example table to configure versions for a JIRA project.</p>
<aui-docs-example live-demo>
<noscript is="aui-docs-code" type="text/html">
    <table id="project-config-versions-table"></table>
</noscript>
<noscript type="text/js">
(function() {
    var counter = 1;
    function newId(seed) {
        return String(seed || '') + counter++;
    }

    var savedVersions = [{
        id: 10000,
        status: 'Released',
        name: 'v1.0',
        description: 'The first release'
    }, {
        id: 10001,
        status: 'Unreleased',
        name: 'v1.1',
        description: 'An improvement on the first release'
    }];

    function getVersion(id) {
        return savedVersions.find(v => v.id == id);
    }

    var server = sinon.fakeServer.create();
    server.respondWith("GET", /rest\/project\/(\w+)\/versions/, function(xhr, projectId) {
        xhr.respond(200, {"Content-Type": "application/json"}, JSON.stringify(savedVersions));
    });

    server.respondWith("GET", /rest\/version\/(\d+)/, function(xhr, id) {
        let version = getVersion(id);
        if (version) {
            xhr.respond(200, {"Content-Type": "application/json"}, JSON.stringify(version));
        } else {
            xhr.respond(404, {"Content-Type": "application/json"}, '{"errors":["Not found"]}');
        }
    });

    server.respondWith("PUT", /rest\/version\/(\d+)/, function(xhr, id) {
        let version = getVersion(id);
        if (version) {
            let newData = JSON.parse(xhr.requestBody);
            AJS.$.extend(version, newData);
            xhr.respond(200, {"Content-Type": "application/json"}, JSON.stringify(version));
        } else {
            xhr.respond(404, {"Content-Type": "application/json"}, '{"errors":["Not found"]}');
        }
    });

    server.respondWith("DELETE", /rest\/version\/(\d+)/, function(xhr, id) {
        let version = getVersion(id);
        if (version) {
            savedVersions = savedVersions.filter(v => v.id !== id);
            xhr.respond(200, {"Content-Type": "application/json"}, JSON.stringify(version));
        } else {
            xhr.respond(404, {"Content-Type": "application/json"}, '{"errors":["Not found"]}');
        }
    });

    server.respondWith("POST", /rest\/version$/, function(xhr) {
        var newVersion = JSON.parse(xhr.requestBody);
        newVersion.id = newId('1100');
        savedVersions.push(newVersion);
        xhr.respond(200, {"Content-Type": "application/json"}, JSON.stringify(newVersion));
    });

    server.autoRespond = true;
    server.autoRespondAfter = 300;
})();
</noscript>
<noscript is="aui-docs-code" type="text/js">
    new AJS.RestfulTable({
        el: jQuery("#project-config-versions-table"),
        autoFocus: true,
        resources: {
            all: "rest/project/HSP/versions?expand=operations",
            self: "rest/version"
        },
        deleteConfirmationCallback: function(model) {
            AJS.$("#restful-table-model")[0].innerHTML = "<b>ID:</b> " + model.id + " <b>status:</b> " + model.status + " <b>description:</b> " + model.description;
            AJS.dialog2("#delete-confirmation-dialog").show();
            return new Promise(function(resolve, reject) {
                AJS.$("#dialog-submit-button").on('click', function (e) {
                    resolve();
                    e.preventDefault();
                    AJS.dialog2("#delete-confirmation-dialog").hide();
                });
                AJS.$(".aui-close-button, #warning-dialog-cancel").on('click', function (e) {
                    reject();
                    e.preventDefault();
                    AJS.dialog2("#delete-confirmation-dialog").hide();
                });
            });
        },
        columns: [
            {
                id: "status",
                header: ""
            },
            {
                id: "name",
                header: "Version name"
            },
            {
                id: "description",
                header: "Description"
            },
            {
                id: "releaseDate",
                header: "Release date",
                inputAriaLabel: "Release date field"
            }
        ]
    });
</noscript>
<noscript type="text/js">
(function() {
    var restfulTableEvents = ["ROW_ADDED", "ROW_REMOVED", "EDIT_ROW", "REORDER_SUCCESS", "SERVER_ERROR"];
    restfulTableEvents.forEach(function(eventName) {
        jQuery(document).on(AJS.RestfulTable.Events[eventName], function() {
            console && console.log("RestfulTable event", eventName, "- callback arguments: ", arguments);
            AJS.flag({
                body: "<strong>" + eventName + "</strong> fired on RestfulTable. (Check devtools for more info).",
                close: "auto"
            });
        });
    });
})();
</noscript>
<noscript is="aui-docs-code" type="text/java" lang="java">
    /**
     * URLS must follow this pattern
     * create POST /urlOfRestResource
     * read GET /urlOfRestResource[/id]
     * update PUT /urlOfRestResource/id
     * delete DELETE /urlOfRestResource/id
     */
    @Path ("version")
    @Consumes ({ MediaType.APPLICATION_JSON })
    @Produces ({ MediaType.APPLICATION_JSON })
    public class VersionResource
    {
        @AnonymousAllowed
        @GET
        @Path ("{id}")
        public Response getVersion(@PathParam ("id") final String id)
        {
        }

        @PUT
        @Path ("{id}")
        public Response updateVersion(@PathParam ("id") final String id, final VersionBean bean)
        {
        }


        @POST
        public Response createVersion(final VersionBean bean)
        {
        }

        @DELETE
        @Path ("{id}")
        public Response delete(@PathParam ("id") final String id)
        {
        }
    }
</noscript>
</aui-docs-example>

<h3>Options</h3>

<p>The following options are available when creating a new AJS.RestfulTable.</p>
<table class="aui">
    <thead>
    <tr>
        <th>Required</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success table-icon">required option</span></td>
        <td><p> el </p></td>
        <td><p> The &lt;table&gt; element </p></td>
        <td><p> String, HTMLElement, jQuery </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success table-icon">required option</span></td>
        <td><p> resources </p></td>
        <td><p> A map of resources: <br class="atl-forced-newline"></p>
            <ul>
                <li>all - url or function that returns a collection of all table entities</li>
                <li>self - url to sync entity to server using CRUD</li>
            </ul>
        </td>
        <td><p> String, Function <br class="atl-forced-newline">String </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success table-icon">required option</span></td>
        <td><p> columns </p></td>
        <td><p> An array of columns to render <br class="atl-forced-newline"></p>
            <noscript is="aui-docs-code" type="text/js">
                {
                id: String, // entity property
                header: String, // &lt;th&gt; contents
                inputAriaLabel: String, // (optional) text for input's aria-label attribute
                allowEdit: Boolean, // (optional) Can the cell be edited. Default is true.
                fieldName: String, // (optional) name or id of field to focus
                editView: AJS.RestfulTable.CustomEditView, // (optional) view to render when in edit mode
                createView: AJS.RestfulTable.CustomCreateView, // (optional) view to render when in create mode
                readView: AJS.RestfulTable.CustomReadView, // (optional) view to render when in read mode
                emptyText: String, // (optional) text to show when field is empty
                }
            </noscript>
        </td>
        <td><p> Array </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> noEntriesMsg </p></td>
        <td><p> A message that will be displayed in the table when there are no entries </p></td>
        <td><p> String </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> model </p></td>
        <td><p> Backbone.Model representation used for entities AJS.RestfulTable.EntryModel </p></td>
        <td><p> AJS.RestfulTable.EntryModel </p></td>
        <td><p> AJS.RestfulTable.EntryModel </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> reverseOrder </p></td>
        <td><p> When all the entries are retrieved from the "all" resource, reverse the order. </p></td>
        <td><p> Boolean </p></td>
        <td><p> false </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> autoFocus </p></td>
        <td><p> Whether or not to auto focus the first field of the create row </p></td>
        <td><p> Boolean </p></td>
        <td><p> false </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> loadingMsg </p></td>
        <td><p> A message that will be displayed in the table when it is loading </p></td>
        <td><p> String </p></td>
        <td><p> Loading</p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowCreate </p></td>
        <td><p> Whether or not user can create new entries </p></td>
        <td><p> Boolean </p></td>
        <td><p> true </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowEdit </p></td>
        <td><p> Whether or not the user can edit table </p></td>
        <td><p> Boolean </p></td>
        <td><p> true </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowReorder </p></td>
        <td><p> Whether or not the user can reorder rows </p></td>
        <td><p> Boolean </p></td>
        <td><p> false </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowDelete </p></td>
        <td><p> Whether or not a row can be deleted </p></td>
        <td><p> Boolean </p></td>
        <td><p> true </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> createPosition </p></td>
        <td><p> If set to "bottom", creates new rows at the bottom of the table instead of the top. </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> id </p></td>
        <td><p> The id for the table. This id will be used to fire events specific to this instance. </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> cancelAccessKey </p></td>
        <td><p> Sets accesskey attribute </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> submitAccessKey </p></td>
        <td><p> Sets accesskey attribute </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> deleteConfirmationCallback </p></td>
        <td><p> Function returning promise. If promise is resolved row will be deleted, if rejected deletion will be prevented </p></td>
        <td><p> Function -> Promise </p></td>
        <td></td>
    </tr>
    </tbody>
</table>

<h3> Events </h3>

<p>Events have 3 contexts in which they can be triggered.</p>

<h4>AJS.RestfulTable</h4>
<noscript is="aui-docs-code" type="text/js">
    AJS.$(document).bind(AJS.RestfulTable.Events.INITIALIZED, function () {
        alert("finished setup");
    });
</noscript>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> AJS.RestfulTable.Events.INITIALIZED </p></td>
        <td><p> triggered when the table has finished initial render </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.ROW_INITIALIZED </p></td>
        <td><p> triggered when a row is rendered </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.ROW_ADDED </p></td>
        <td><p> triggered when a row is added to the RestfulTable </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.ROW_REMOVED </p></td>
        <td><p> triggered when a row is removed from the RestfulTable </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.EDIT_ROW </p></td>
        <td><p> triggered when a row edit is started by the user </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.REORDER_SUCCESS </p></td>
        <td><p> triggered when a successful drag and drop reordering of rows is performed </p></td>
        <td><p> XmlHttpRequest object </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SERVER_ERROR </p></td>
        <td><p> triggered when the server returns a non-200 response for an operation;
            at the table level, this is mainly drag and drop operations. </p></td>
        <td><ul>
            <li>Response data</li>
            <li>XmlHttpRequest object</li>
        </ul></td>
    </tr>
    </tbody>
</table>

<h4> AJS.RestfulTable.EditRow </h4>
<noscript is="aui-docs-code" type="text/js">
    var createRow = myRestfulTableInstance.getCreateRow();
    createRow.bind(AJS.RestfulTable.Events.VALIDATION_ERROR, function (errors) {
        alert('fix your validation errors before creating new row');
    });
</noscript>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> AJS.RestfulTable.Events.CANCEL </p></td>
        <td><p> Switches row back to read only mode, restoring values None</p></td>
        <td>None</td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SAVE </p></td>
        <td><p> Sends updated values back to server and switches back to readonly mode &lt;boolean&gt; - whether to
            focus read-only view </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.CREATED </p></td>
        <td><p> Triggered when a new entry has been created </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.FOCUS </p></td>
        <td><p> Gives focused style, removing focus from any other row. </p></td>
        <td><p> &lt;string&gt; - name of field to focus </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.BLUR </p></td>
        <td><p> Removes focused style, restoring focus back to the createRow </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SUBMIT_STARTED </p></td>
        <td><p> Triggered when update/create request to server started </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SUBMIT_FINISHED </p></td>
        <td><p> Triggered when update/create request to server finished </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.VALIDATION_ERROR </p></td>
        <td><p> Triggered when server returns validation errors </p></td>
        <td><p> Object - errors </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.RENDER </p></td>
        <td><p>Triggered when row has rendered </p></td>
        <td><p> None </p></td>
    </tr>
    </tbody>
</table>

<h4>AJS.RestfulTable.Row</h4>
<noscript is="aui-docs-code" type="text/js">
    AJS.$(document).bind(AJS.RestfulTable.Events.ROW_INITIALIZED, function (row) {
        row.bind(AJS.RestfulTable.Events.RENDER, function () {
            this.$el.addClass("myclass");
        });
    });
</noscript>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> AJS.RestfulTable.Events.FOCUS </p></td>
        <td><p> Gives focused style, removing focus from any other row. </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.BLUR </p></td>
        <td><p> Removes focused style, restoring focus back to the createRow </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.UPDATED </p></td>
        <td><p> Fades row from blue to transparent </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.MODAL </p></td>
        <td><p> Disables all interactions on table, except for this row </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.MODELESS </p></td>
        <td><p> Enables all interactions on table </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.RENDER </p></td>
        <td><p> Triggered when row has rendered </p></td>
        <td><p> None </p></td>
    </tr>
    </tbody>
</table>

<h3>Methods</h3>

<p>Methods have 3 contexts in which they can be called</p><h4>AJS.RestfulTable</h4>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
        <th><p> Returns </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> addRow </p></td>
        <td><p> Adds row to collection and renders it </p></td>
        <td><p> &lt;Backbone.Model&gt; model <br class="atl-forced-newline"> &lt;Integer&gt; index </p></td>
        <td><p> AJS.RestfulTable </p></td>
    </tr>
    <tr>
        <td><p> getColumnCount </p></td>
        <td><p> Gets the number of columns in the table </p></td>
        <td><p> None </p></td>
        <td><p> Number </p></td>
    </tr>
    <tr>
        <td><p> isEmpty </p></td>
        <td><p> Returns true if there are no entries in the table </p></td>
        <td><p> None </p></td>
        <td><p> Boolean </p></td>
    </tr>
    <tr>
        <td><p> getModels </p></td>
        <td><p> Gets backbone collection </p></td>
        <td><p> None </p></td>
        <td><p> Backbone.Collection </p></td>
    </tr>
    <tr>
        <td><p> getTable </p></td>
        <td><p> Gets jQuery element for &lt;table&gt; </p></td>
        <td><p> None </p></td>
        <td><p> jQuery </p></td>
    </tr>
    <tr>
        <td><p> getTableBody </p></td>
        <td><p> Gets jQuery element for &lt;tbody&gt; </p></td>
        <td><p> None </p></td>
        <td><p> jQuery </p></td>
    </tr>
    <tr>
        <td><p> getCreateRow </p></td>
        <td><p> Gets view used for create row (first row in table) </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> showNoEntriesMsg </p></td>
        <td><p> Shows message options.noEntriesMsg to the user if there are no entries </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable </p></td>
    </tr>
    <tr>
        <td><p> removeNoEntriesMsg </p></td>
        <td><p> Removes message options.noEntriesMsg to the user if there ARE entries </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable </p></td>
    </tr>
    <tr>
        <td><p> edit </p></td>
        <td><p> Converts readonly row to editable view </p></td>
        <td><p> &lt;String&gt; field - field name to focus <br class="atl-forced-newline"> AJS.RestfulTable.Row row
        </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    </tbody>
</table>

<h4>AJS.RestfulTable.EditRow</h4>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
        <th><p> Returns </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> hasFocus </p></td>
        <td><p> Returns true if row has focused class </p></td>
        <td><p> None </p></td>
        <td><p> Boolean </p></td>
    </tr>
    <tr>
        <td><p> focus </p></td>
        <td><p> Focus specified field, first field or the first field with an error (in order) </p></td>
        <td><p> &lt;String&gt; field - field name to focus </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> unfocus </p></td>
        <td><p> Unfocuses row and disables its submit button </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> disable </p></td>
        <td><p> Disables all fields and fades out row </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> enable </p></td>
        <td><p> Enables all fields, and returns row to full opacity </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> showLoading </p></td>
        <td><p> Shows loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> hideLoading </p></td>
        <td><p> Hides loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> submit </p></td>
        <td><p> Serialises form fields and updates client and server model </p></td>
        <td><p> &lt;Boolean&gt; focusUpdated - flag of whether to focus read-only view after successful
            submission </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    </tbody>
</table>

<h4>AJS.RestfulTable.Row</h4>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
        <th><p> Returns </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> sync </p></td>
        <td><p> Save changed attributes back to server and re-render </p></td>
        <td><p> &lt;object&gt; attr </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> refresh </p></td>
        <td><p> Get model from server and re-render </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> edit </p></td>
        <td><p> Switches row into edit mode </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> focus </p></td>
        <td><p> Focuses row </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> unfocus </p></td>
        <td><p> Unfocuses row </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> showLoading </p></td>
        <td><p> Shows loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> hideLoading </p></td>
        <td><p> Hides loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    </tbody>
</table>

<h3> Setup </h3>

<p>For a simple table you need only configure 3 options:</p>
<ul>
    <li> el - The element you wish to populate
        <li> resources</li>
        <ul>
            <li> all - Rest resource OR function that retrieves all entities</li>
            <li> self - Rest resource to sync a single entities state (CRUD)</li>
        </ul>
        <li> columns - Which properties of the entities to render. The id of a column maps to the property of an
            entity.
        </li>
        This simple table can be extended by specifying your own model and column views:
        <ul>
            <li> model - Allows you to modify and format what is sent and received from the server for each entity/row.
                Also allowing additional logic to be supplied to your views.
            </li>
            <li> column views - Allow you to specify custom renderers for the read/create/edit modes of individual
                columns.
            </li>
        </ul>
    </li>
</ul>
<section id="delete-confirmation-dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" hidden>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Confirm</h2>
        <button class="aui-close-button" type="button" aria-label="Close dialog"></button>
    </header>
    <div class="aui-dialog2-content">
        <p>You want to delete row:</p>
        <p id="restful-table-model"></p>
        <p> Are you sure?</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Yes</button>
            <button id="warning-dialog-cancel" class="aui-button aui-button-link">Cancel</button>
        </div>
    </footer>
</section>
