@import (reference) '../theme';

@aui-dialog2-bg-color: var(--aui-dialog-bg-color);
@aui-dialog2-header-warning-bg-color: var(--aui-dialog-header-warning-bg-color);
@aui-dialog2-header-warning-text-color: var(--aui-dialog-header-warning-text-color);
@aui-dialog2-footer-hint-text-color: var(--aui-dialog-footer-hint-text-color);

@aui-dialog2-padding: 20px;
