@import (reference) '../theme';

@aui-page-nav-width: 240px;
@aui-page-sidebar-width: 35%;
@aui-page-width-small: 400px;
@aui-page-width-medium: 600px;
@aui-page-width-large: 800px;
@aui-page-width-xlarge: 980px;

@aui-page-notification-panel-margin-top: 50px;
@aui-page-notification-content-padding: 40px;
@aui-page-notification-details-min-width: 90%;
@aui-page-notification-details-header-top-margin: 2 * @aui-grid;
@aui-page-notification-details-header-expander-trigger-padding: @aui-grid;
@aui-page-notification-panel-content-form-text-margin-right: @aui-grid;

@aui-background-color: var(--aui-body-background);
@aui-panel-bg-color: var(--aui-page-background);
@aui-panel-border-color: var(--aui-page-border);
