@import (reference) '../theme';

@aui-sidebar-icon-size: 20px; // used for sizing the nav icons
@aui-sidebar-icon-color: var(--aui-sidebar-icon-color);
@aui-sidebar-toggle-icon-color: var(--aui-sidebar-toggle-icon-color);

@aui-sidebar-width: (@aui-font-size-medium * 20); // 280px - expanded sidebar width
@aui-sidebar-collapsed-width: (@aui-font-size-medium * 4); // 56px - collapsed sidebar width
@aui-sidebar-border-width: @aui-border-width;
@aui-sidebar-border-color: @aui-sidebar-background-color; // to appear borderless
@aui-sidebar-background-color: var(--aui-sidebar-bg-color);
@aui-sidebar-dropdown-arrow-color: var(--aui-sidebar-dropdown-arrow-color);

@aui-sidebar-default-transition-timing: 0.1s; // sidebar tooltip and flyout menu timing

@aui-sidebar-tooltip-background-color: var(--aui-sidebar-tooltip-bg-color);

@aui-sidebar-badge-background-color: var(--aui-sidebar-badge-bg-color);
@aui-sidebar-badge-border-color: @aui-sidebar-background-color; // to match sidebar background colour
@aui-sidebar-badge-text-color: var(--aui-sidebar-badge-text-color);
@aui-sidebar-collapsed-badge-border-width: 2px;
