@import (reference) '../theme';

@aui-table-header-bg-color: var(--aui-table-header-bg-color);
@aui-table-row-bg-color: var(--aui-table-row-bg-color);
@aui-table-text-align: left;
@aui-table-vertical-align: top;
@aui-table-padding-x: @aui-grid;
@aui-table-padding-y: (@aui-grid * .7);

@aui-table-caption-bg-color: var(--aui-table-caption-bg-color);
@aui-table-caption-text-color: var(--aui-table-caption-text-color);
@aui-table-heading-text-color: var(--aui-table-heading-text-color);
@aui-table-row-text-color: var(--aui-table-row-text-color);
@aui-table-list-row-hover-color: var(--aui-table-list-row-hover-color);
@aui-table-list-row-subtle-color: var(--aui-table-list-row-subtle-color);

@aui-table-header-divider-width: 2px;

@aui-border-tables: @aui-border-width @aui-border-type var(--aui-table-border-color);
@aui-border-tables-header: @aui-table-header-divider-width @aui-border-type var(--aui-table-border-color);

// ### Sortable

@aui-table-sortable-hover-bg-color: var(--aui-table-sortable-hover-bg-color);

@aui-table-sortable-active-bg-color: var(--aui-table-sortable-active-bg-color);
@aui-table-sortable-active-border-color: var(--aui-table-sortable-active-border-color);
@aui-table-sortable-active-text-color: var(--aui-table-sortable-active-text-color);

@aui-table-sortable-selected-bg-color: var(--aui-table-sortable-selected-bg-color);
@aui-table-sortable-selected-border-color: var(--aui-table-sortable-selected-border-color);
@aui-table-sortable-selected-text-color: var(--aui-table-sortable-selected-text-color);

@aui-table-sortable-arrow-height: @aui-icon-size-small;
