@import './codemirror-aui-theme.less';
@import (reference) '~@atlassian/aui/src/less/imports/mixins/shadows.less';

aui-code-block {
    #aui.shadow.z100();
    background: var(--aui-page-background);
    border: 1px solid var(--aui-border);
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    overflow: auto;
    padding: 10px;

    // Be more specific than a theme
    .CodeMirror.CodeMirror {
        background-color: inherit;
        height: auto;
    }

    &:focus-within {
        z-index: 1;
    }
}
