// See layer.js and ZINDEX_AUI_LAYER_MIN, too.
// All modern components' z-index values should be managed by the layer manager.
@aui-z-layer-min: 3000;
@aui-z-dropdown: @aui-z-layer-min;
@aui-z-inline-dialog: @aui-z-layer-min;
@aui-z-modal-dialog: @aui-z-layer-min;

// Additional manually-configured indexes, because sometimes we need things to be above or below the base.
@aui-z-blanket: @aui-z-layer-min - 500; // so it appears below modals
@aui-z-skip: @aui-z-layer-min + 1000; // so they appear above modals
@aui-z-flag-container: @aui-z-layer-min + 1000; // so they appear above modals
@aui-z-select2: @aui-z-layer-min + 3; // so it can paint an "overlay" behind its suggestion dropdown
@aui-z-tooltip: @aui-z-layer-min + 2000; // so they appear over the top of pretty much everything
