
.aui-test,
.aui-demo {
    border: 0;
    margin-bottom: 40px;
}


.aui-test,
.sources {
    clear: both;
}

.JSsource,
.HTMLsource {
    border: 1px dashed;
}

.view-js-source-link,
.view-html-source-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-js-source-link a,
.view-html-source-link a {
    text-decoration: none;
}

.view-js-source-link a:hover,
.view-html-source-link a:hover {
    color: darkblue;
    text-decoration: none;
}
