<nav class="aui-navgroup aui-navgroup-vertical" aria-label="components">
    <div class="aui-navgroup-inner" id="left-navigation">
        <h3>AUI version upgrade guides</h3>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/upgrades/aui-9.html" class="docs-nav-link">AUI 9.x upgrade guides</a></li>
            <li><a href="{{rootPath}}docs/upgrades/aui-8.html" class="docs-nav-link">AUI 8.x upgrade guides</a></li>
            <li><a href="{{rootPath}}docs/upgrades/aui-7.html" class="docs-nav-link">AUI 7.x upgrade guides</a></li>
            <li><a href="{{rootPath}}docs/upgrades/aui-5.html" class="docs-nav-link">AUI 5.x upgrade guides</a></li>
        </ul>

        <h3>AUI component API upgrade guides</h3>
        <ul class="aui-nav">
            <li>
                <a href="{{rootPath}}docs/upgrades/dialog2.html" class="docs-nav-link">
                    Dialog 1 &rarr; Dialog 2
                </a>
            </li>
            <li>
                <a href="{{rootPath}}docs/upgrades/dropdown-menu-component.html" class="docs-nav-link">
                    Dropdown 1 &rarr; <var>&lt;aui-dropdown-menu&gt;</var>
                </a>
            </li>
            <li>
                <a href="{{rootPath}}docs/upgrades/inline-dialog-component.html" class="docs-nav-link">
                    Inline Dialog 1 &rarr; <var>&lt;aui-inline-dialog&gt;</var>
                </a>
            </li>
        </ul>
    </div>
</nav>
