<nav class="aui-navgroup aui-navgroup-vertical" aria-label="components">
    <div class="aui-navgroup-inner" id="left-navigation">
        <h3 class="aui-nav-heading">
            General UI components
        </h3>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/avatars.html" class="docs-nav-link" id="avatars-link">Avatars</a></li>
            <li><a href="{{rootPath}}docs/badges.html" class="docs-nav-link" id="badges-link">Badges</a></li>
            <li><a href="{{rootPath}}docs/banner.html" class="docs-nav-link" id="banner-link">Banners</a></li>
            <li><a href="{{rootPath}}docs/buttons.html" class="docs-nav-link" id="buttons-link">Buttons</a></li>
            <li><a href="{{rootPath}}docs/dropdown.html" class="docs-nav-link" id="dropdown-link">Dropdowns</a></li>
            <li><a href="{{rootPath}}docs/dialog2.html" class="docs-nav-link" id="dialog2-link">Dialog 2</a></li>
            <li><a href="{{rootPath}}docs/expander.html" class="docs-nav-link" id="expander-link">Expanders</a></li>
            <li><a href="{{rootPath}}docs/flag.html" class="docs-nav-link" id="flag-link">Flags</a></li>
            <li><a href="{{rootPath}}docs/inline-dialog.html" class="docs-nav-link" id="inline-dialog-link">Inline dialogs</a></li>
            <li><a href="{{rootPath}}docs/icons.html" class="docs-nav-link" id="icons-link">Icons</a></li>
            <li><a href="{{rootPath}}docs/labels.html" class="docs-nav-link" id="labels-link">Labels</a></li>
            <li><a href="{{rootPath}}docs/lozenges.html" class="docs-nav-link" id="lozenges-link">Lozenges</a></li>
            <li><a href="{{rootPath}}docs/messages.html" class="docs-nav-link" id="messages-link">Messages</a></li>
            <li><a href="{{rootPath}}docs/progress-indicator.html" class="docs-nav-link" id="progress-indicator-link">Progress indicators</a></li>
            <li><a href="{{rootPath}}docs/progress-tracker.html" class="docs-nav-link" id="progress-tracker-link">Progress trackers</a></li>
            <li><a href="{{rootPath}}docs/restful-table.html" class="docs-nav-link" id="restful-table-link">RESTful tables</a></li>
            <li><a href="{{rootPath}}docs/spinner.html" class="docs-nav-link" id="spinner-link">Spinners</a></li>
            <li><a href="{{rootPath}}docs/sortable-table.html" class="docs-nav-link" id="sortable-table-link">Sortable tables</a></li>
            <li><a href="{{rootPath}}docs/tables.html" class="docs-nav-link" id="tables-link">Tables</a></li>
            <li><a href="{{rootPath}}docs/tabs.html" class="docs-nav-link" id="tabs-link">Tabs</a></li>
            <li><a href="{{rootPath}}docs/toolbar2.html" class="docs-nav-link" id="toolbar2-link">Toolbar 2</a></li>
            <li><a href="{{rootPath}}docs/tooltips.html" class="docs-nav-link" id="tooltips-link">Tooltips</a></li>
            <li><a href="{{rootPath}}docs/trigger.html" class="docs-nav-link" id="trigger-link">Triggers</a></li>
        </ul>
        <h3 class="aui-nav-heading">
            Forms and form components
        </h3>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/forms.html" class="docs-nav-link" id="forms-link">Forms</a></li>
            <li><a href="{{rootPath}}docs/aui-label.html" class="docs-nav-link" id="aui-label-link">Form labels</a></li>
            <li><a href="{{rootPath}}docs/form-notification.html" class="docs-nav-link" id="form-notification-link">Form notification</a></li>
            <li><a href="{{rootPath}}docs/form-validation.html" class="docs-nav-link" id="form-validation-link">Form validation</a></li>
            <li><a href="{{rootPath}}docs/date-picker.html" class="docs-nav-link" id="date-picker-link">Date pickers</a></li>
            <li><a href="{{rootPath}}docs/single-select.html" class="docs-nav-link" id="single-select-link">Single selects</a></li>
            <li><a href="{{rootPath}}docs/auiselect2.html" class="docs-nav-link" id="auiselect2-link">Select2</a></li>
            <li><a href="{{rootPath}}docs/toggle-button.html" class="docs-nav-link" id="toggle-button-link">Toggle buttons</a></li>
        </ul>
        <h3 class="aui-nav-heading">
            Page and content structure
        </h3>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/typography.html" class="docs-nav-link" id="typography-link">Typography</a></li>
            <li><a href="{{rootPath}}docs/page.html" class="docs-nav-link" id="page-link">Page layout</a></li>
            <li><a href="{{rootPath}}docs/page-header.html" class="docs-nav-link" id="page-header-link">Page headers</a></li>
            <li><a href="{{rootPath}}docs/page-content-layout.html" class="docs-nav-link" id="page-content-layout-link">Page panels</a></li>
            <li><a href="{{rootPath}}docs/layout.html" class="docs-nav-link" id="layout-link">Content groups</a></li>
            <li><a href="{{rootPath}}docs/navigation.html" class="docs-nav-link" id="navigation-link">Navigation patterns</a></li>
            <li><a href="{{rootPath}}docs/in-product-help.html" class="docs-nav-link" id="in-product-help-link">In-product help patterns</a></li>
            <li><a href="{{rootPath}}docs/app-header.html" class="docs-nav-link" id="header-link">Application header</a></li>
            <li><a href="{{rootPath}}docs/sidebar.html" class="docs-nav-link" id="sidebar-link">Sidebar</a></li>
            <li><a href="{{rootPath}}docs/system-notifications.html" class="docs-nav-link" id="system-notifications-link">System notification</a></li>
        </ul>
        <h3 class="aui-nav-heading">
            AUI resources
        </h3>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/dark-mode.html" class="docs-nav-link" id="dark-mode-link">Dark mode</a></li>
            <li><a href="{{rootPath}}docs/helper.html" class="docs-nav-link" id="helper-link">Helper functions</a></li>
            <li><a href="{{rootPath}}docs/hidden-assistive-css.html" class="docs-nav-link" id="hidden-assistive-css-link">Hidden and assistive CSS</a></li>
            <li><a href="{{rootPath}}docs/browser-focus.html" class="docs-nav-link" id="browser-focus">Browser focus</a></li>
            <li><a href="{{rootPath}}docs/internationalisation.html" class="docs-nav-link" id="helper-link">Internationalisation</a></li>
            <li><a href="{{rootPath}}docs/keyboard-shortcuts.html" class="docs-nav-link" id="keyboard-link">Keyboard shortcuts</a></li>
            <li><a href="{{rootPath}}docs/soy.html" class="docs-nav-link" id="soy-link">Soy</a></li>
            <li><a href="{{rootPath}}docs/template.html" class="docs-nav-link" id="template-link">Template <span class="aui-lozenge aui-lozenge-removed">deprecated</span></a></li>
        </ul>
    </div>
</nav>
