---
component: AUI design patterns
pageCategory: patterns
analytics:
  pageCategory: patterns
  component: all
---

<p>
    The following guides list the design patterns used and recommended by the AUI team.
</p>

<h3>Design Patterns</h3>

<ul>
    <li><a href="{{rootPath}}docs/patterns/current-and-selected.html">Current and selected items</a>.</li>
</ul>
