<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {{#if indexPage}}
            <title>{{title}}</title>
        {{else}}
            <title>{{component}} - AUI Documentation</title>
        {{/if}}
        <link rel="preload" href="{{rootPath}}fonts/adgs-icons.woff" as="font" />
        <link rel="preload" href="{{rootPath}}fonts/adgs-icons.ttf" as="font" />
        <link rel="preload" href="{{rootPath}}fonts/adgs-icons.eot" as="font" />
        <link rel="preload" href="/aui/versions.json" as="fetch" type="application/json" />
        <link rel="stylesheet" href="{{rootPath}}index.css" />
        <script id="dist-location" type="text/html">{{distLocation}}</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
        <script src="{{rootPath}}index.js"></script>
    </head>
    <body{{#indexPage}} class="aui-page-hybrid"{{/indexPage}}>
        <div id="page">
            <header id="header" role="banner">
                {{#unless indexPage}}
                    <a class="aui-skip-link" href="#main">Skip to main content</a>
                {{/unless}}
                <nav class="aui-header aui-dropdown2-trigger-group" aria-label="site" data-aui-responsive="true">
                    <div class="aui-header-inner">
                        <div class="aui-header-primary">
                            <span id="logo" class="aui-header-logo aui-header-logo-textonly">
                                <a href="/">
                                    <span class="aui-header-logo-device">AUI</span>
                                </a>
                            </span>
                            <ul class="aui-nav">
                                <li>
                                    <a href="#" aria-controls="aui-menu-documentation" class="aui-dropdown2-trigger">Documentation</a>
                                    <aui-dropdown-menu id="aui-menu-documentation">
                                        <aui-item-link href="{{rootPath}}docs">Components</aui-item-link>
                                        <aui-item-link href="{{rootPath}}docs/patterns/patterns-index.html">Design Patterns</aui-item-link>
                                        <aui-item-link href="{{rootPath}}docs/upgrade-guide.html">Upgrade guides</aui-item-link>
                                    </aui-dropdown-menu>
                                </li>
                                <li>
                                    <a href="#" aria-controls="aui-menu-support" class="aui-dropdown2-trigger">Support</a>
                                    <aui-dropdown-menu id="aui-menu-support">
                                        <aui-item-link href="{{rootPath}}docs/getting-started.html">Getting started</aui-item-link>
                                        <aui-item-link href="{{rootPath}}docs/faq.html">FAQ</aui-item-link>
                                        <aui-item-link href="{{communityHelpLink}}">Ask a question</aui-item-link>
                                    </aui-dropdown-menu>
                                </li>
                                <li class="aui-version-picker-container">
                                    <a href="#" aria-controls="versions-dropdown" class="aui-dropdown2-trigger">Version {{minorVersion}}</a>
                                    {{> versions-dropdown id="versions-dropdown" }}
                                </li>
                            </ul>
                        </div>
                        <div class="aui-header-secondary">
                            <aui-toggle id="switch-theme" label="Toggle dark mode"></aui-toggle>
                            <script>
                                // Dark mode switcher.
                                (function toggleDarkMode() {
                                    function darkness(val = null) {
                                        const storageKey = 'aui-theme';
                                        try {
                                            if (val != null) {
                                                localStorage.setItem(storageKey, !!val ? 'dark' : '');
                                            }
                                            return localStorage.getItem(storageKey) === 'dark';
                                        } catch (e) {
                                            console.error('No local storage access');
                                        }
                                        return false;
                                    }

                                    const darkModeClass = 'aui-theme-dark';
                                    const isDark = darkness();
                                    document.body.classList.toggle(darkModeClass, isDark);
                                    const el = document.getElementById('switch-theme');
                                    el.checked = isDark;
                                    el.addEventListener('change', (e) => {
                                        const darkOn = e.target.checked;
                                        const result = darkness(darkOn);
                                        document.body.classList.toggle(darkModeClass, result);
                                    });
                                }());
                            </script>
                        </div>
                    </div>
                </nav>
            </header>

            {{#if indexPage}}
                {{{ contents }}}
            {{else}}
                <div class="aui-page-panel">
                    <div class="aui-page-panel-inner">
                        <div class="aui-page-panel-nav">
                            {{#if pageCategory }}
                                {{> (append "nav-" pageCategory) }}
                            {{else}}
                                {{> sitenav }}
                            {{/if}}
                        </div>

                        <main id="main" class="aui-page-panel-content" role="main">{{!-- The redundant `role` attribute is required for the VoiceOver + Safari combo --}}
                            <div class="aui-page-header">
                                <div class="aui-page-header-inner">
                                    <div class="aui-page-header-main">
                                        <h1 class="component-heading">{{component}}</h1>
                                    </div>
                                    <div class="aui-page-header-actions">
                                        {{> links }}
                                    </div>
                                </div>
                            </div>
                            {{{ contents }}}
                        </main>
                    </div>
                </div>
            {{/if}}

            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul id="aui-footer-list">
                        <li>Copyright &#169; 2009-<script>document.write(new Date().getUTCFullYear());</script> Atlassian</li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/{{patchVersion}}/LICENSE.md">License</a></li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/{{patchVersion}}/CHANGELOG.md">Changelog</a></li>
                        <li>{{minorVersion}}</li>
                    </ul>
                    <div id="footer-logo"><a href="https://www.atlassian.com/">Atlassian</a></div>
                </section>
            </footer>
        </div>
    </body>
</html>
