@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/core/colors';
@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-light';
@import (reference) '~@atlassian/aui/src/less/imports/mixins/focus';
@import (reference) '~@atlassian/aui/src/less/imports/mixins/typography';
@import '~@atlassian/aui/src/less/aui-skip-link';

@import '~@atlassian/aui/src/less/aui-dark-mode';

@aui-docs-border-radius: 3.01px; // for IE10

html {
    height: 100%;
}


/* Docs Pages */

.api-table {
    table-layout: fixed;
}
.api-table .option-column {
    width: 33%
}

.api-table .description-column {
    width: 33%
}

.api-table .description-column {
    width: 33%
}

.api-table td {
    overflow: auto;
}

.auidocs-section-header:hover {
    background: #f5f5f5;
}

.component-heading {
    display: inline-block;
}

a.aui-button.docs-meta-link {
    float: right;
    margin-right: 10px;
}

ul.no-indent {
    list-style-type: none;
    padding: 0;
}

.no-wrap {
    white-space: nowrap;
}

/* Header logo */

.aui-header .aui-header-logo a,
.aui-header .aui-header-logo.aui-header-logo-textonly a {
    padding-left: 20px;
    padding-right: 20px;
}

/* Components sidebar */
.aui-navgroup-vertical .aui-nav > li > a .aui-lozenge {
    float: right;
}

.aui-page-panel-nav {
    width: 300px;
}

/* Docs Index pages */

.aui-flatpack-example {
    border: 1px solid #ccc;
    border-radius: @aui-docs-border-radius;
    margin: 10px 0 20px 0;
    padding: 20px;
}

.aui-flatpack-example.banner-example:after,
.aui-flatpack-example.header-example:after {
    clear: both;
    content: "";
    display: table;
}

#dialog-methods .description,
table.aui.aui-docs-options .details {
    min-width: 150px;
}

table pre {
    max-width: 400px;
}

table.aui code {
    white-space: nowrap;
}


/* Helper Functions Page */

#auidocs-helper-functions-table .function-name-header {
    width: 15%;
}

#auidocs-helper-functions-table .function-description-header {
    width: 25%;
}

#auidocs-helper-functions-table .function-example-header {
    width: 50%;
}

#auidocs-helper-functions-table .function-available-header {
    width: 10%;
}


/* Inline Dialog */

#alignment-values-table code {
    white-space: nowrap;
}

#alignment-values-table .trigger-cell {
    border: solid 1px #cccccc;
    text-align: center;
    vertical-align: middle
}

#alignment-values-table .top-row,
#alignment-values-table .bottom-row {
    td:not(:first-child) {
        border-left: 1px solid #cccccc;
    }
}
#alignment-values-table .top-row td {
    border-top: none;
    vertical-align: bottom;
}
#alignment-values-table .bottom-row {
    border-bottom: none;
}

/* Overrides for docs*/

/* This could be an option in sortable tables for an actions row */
.aui-table-sortable .auidocs-table-actions th,
.aui-table-sortable .auidocs-table-actions th:hover {
    background: transparent;
}

.aui-table-sortable .auidocs-table-actions .aui-table-header-content:after {
    border: 0;
}



/* .aui-tabs */

.code-examples .tabs-pane {
    padding: 10px 0 0 0;
}



/* App Switcher - some of these styles should go into AUI to fix - https://ecosystem.atlassian.net/browse/AUI-1656*/
.app-switcher-trigger {
    box-sizing: border-box;
    cursor: pointer;
    float:  left;
    width: 36px;
}

.custom-item {
    background: #f5f5f5 no-repeat bottom left;
    background-size: 144px 166px;
    border-radius: @aui-docs-border-radius;
    box-sizing: content-box;
    padding: 20px 20px 20px 164px;
    width: 390px;
}

.custom-item-group {
    border-spacing: 20px 0;
    margin: 0 -20px;
    width: 840px;
}

.custom-item-group > .custom-item + .custom-item {
    padding-left: 164px;
}

.aui-intro-page .aui-page-panel-item {
    padding: 20px 40px 20px 0;
}

.intro-header h1 {
    font-size: 48px;
    line-height: 60px;
    padding-top: 40px;
}
.intro-header p.subtitle {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 40px;
}

.introblob + h3 {
    margin-top: 0;
}

.introblob img {
    height: 128px;
    width: 128px;
}



.flatpack-intro {
    margin-bottom: 40px;
}

.flatpack-intro ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.avatars-example .aui-avatar {
    float: left;
    margin-right: 10px;
}

.avatars-example:after {
    clear: both;
    content: "";
    display: table;
}

.example-inverted-icon {
    background: #707070;
    margin-right: 10px;
}

.example-inverted-icon .aui-icon {
    margin-right: 0;
}


#aui-vnav-example {
    width: 200px; /* fudging the example because it's in an odd location. */
}

#pageheader-example {
    background: #F5F5F5;
}

#toolbar2-example > .aui-buttons .aui-button {
    margin-top: 0; /* remove spacing so it looks */
}

#ships-name { width: 15%; }
#ships-nickname { width: 20%; }
#ships-type { width: 25%; }
#ships-misadventure { width: 40%;}

.layout-example .aui-item p {
    background: #f5f5f5;
    border-radius: @aui-docs-border-radius;
    border: 1px solid #ccc;
    padding: 10px;
}

.nav-example > .aui-item {
    vertical-align: middle;
}

.nav-example > .aui-item:first-child {
    text-align: left;
}

.nav-example > .aui-item:last-child {
    text-align: right;
}



/* Messages Demo tweaks */
#custom-context {
    margin-top: 10px;
}



/* Page tweaks */

table.page-layout-options img {
    width: 200px;
}



/* Some crap to make Dropdown1 demo work */

.styled-parent {
    margin: 0;
    padding: 0;
    list-style: none;
}

#demo-toolbar {
    background: #f0f0f0;
    margin-bottom: -10px;
}

#header-version {
    margin: 0 0 0 10px;
    position: relative;
    top: -4px;
}



/*Spinner demo tweak */

#spinner-spinner {
    display: block;
    margin-left: 20px;
}

/* Code examples */
.first-use {
    font-weight: bold;
}


/* Quick search */
aui-quicksearch:not([resolved]),
aui-quicksearch form.aui aui-select button.aui-button,
.aui-quicksearch-hidden {
    display: none;
}

/* Colour swatches */
.auidocs-swatch {
    border-radius: 3px;
    color: @ak-color-N0;
    display: block;
    margin: 0;
    padding: 0.3em 0.5em;
    text-shadow: 0 0 1px rgba(0,0,0,0.5), 1px 1px 0 rgba(0,0,0,0.5);

    dl, dt, dd {
        margin: 0;
        padding: 0;
    }

    dd:first-of-type {
        font-weight: @aui-font-weight-semibold;
    }
}

/* Archive */

.archive {
    h3 {
        display: inline-block;
    }

    ul {
        padding: 0;
        list-style-type: none;

        li {
            padding-top: 10px;
        }
    }
}

.aui-expander-trigger:hover {
    text-decoration: none;
}

#versions-dropdown {
    .aui-lozenge {
        float: right;
        margin-top: 2px;
    }
}

article {
    margin-top: 10px;

    figcaption,
    .footnotes {
        font-size: 0.75em;
    }

    footer {
        margin-top: 10px;
    }
}
